body{
    background-color:rgb(253, 251, 251);
}
#cabecalho{
    background-color: lawngreen;
    position:relative;
    margin-top:none;
}
h1{
    text-align: center;
}
#minha_foto{
    width: 300px;
    height: 350px;
}